.search--container{
    align-self: center;
    background-color: #fff;
    width: 1000px;
    height: 50px;
    border-radius: 9px;
    display: flex;
    transform: translate(2%,0px);
}
input{
 /* border: none; */
 flex-basis: 90%;
border-radius: 6px;
border: none;
}
.btn{
    width: 10%;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}
.search--icon{
width: 24px;
height: 24px;
}
input:placeholder-shown{
    font-size: 16px;
    padding-left: 12px;
    
}
input:active,
input:focus{
    outline:none
}