.card{
   height: 330px;
    box-shadow: 0px 20px 24px rgba(30, 30, 30, 0.014);
    border: 2px solid #38d9a9;
    border-right: none;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
